:host{
  justify-self: center;
  display: grid;
  flex-direction: column;
  color: white;
  padding: 15px;


  background-color: rebeccapurple;

  width: 800px;
  height: 500px;

  border-radius: 15px;
}
