:host{
  position: absolute;
  display:grid;
  align-content: flex-start;
  flex-direction:column;

  background-color: cadetblue;

  height: 100%;
  width: 100%;
}

#header{
  color: white;
  font-size: 55px;
  text-align: center;

  cursor: pointer;
  user-select: none;
}
