@let suit = card()?.suit ?? 'SPADE';
@let rank = card()?.rank ?? 0 | cardRank;

@if (!isBackside()) {
  @switch (size()) {
    @case ('default') {
      <div class="top-left corner">
        <h1>{{ rank }}</h1>
        <suit-icon [suit]="suit"></suit-icon>
      </div>

      <suit-icon [suit]="suit" class="mid-suit"></suit-icon>

      <div class="bottom-right corner">
        <h1>{{ rank }}</h1>
        <suit-icon [suit]="suit"></suit-icon>
      </div>
    }
    @case ('small') {
      <h1>{{ rank }}</h1>
      <suit-icon [suit]="suit" class="mid-suit"></suit-icon>
    }
  }
} @else {}
