
<div style="grid-area: header" class="header">
  <h3 style="grid-area: count">Deltagere - {{participants().length}}</h3>
  <div class="buttons" style="grid-area: buttons">
    @if (isLobbyOwner()) {
      <button class="btn-secondary" (click)="addParticipant.emit()">+ Tilføj deltager</button>
      <button class="btn-warning" (click)="disconnect.emit()">Luk Lobby</button>
    } @else {
      <button class="btn-warning" (click)="disconnect.emit()">Forlad lobby</button>
      <button class="btn-secondary" (click)="openParticipantSettings.emit(undefined)">🔧</button>
    }

  </div>

  @if (participants().length) {
    <div style="grid-area: line" class="horizontal_line"></div>
  }
</div>

<div class="participants" style="grid-area: participants">
  @for (entry of participantsWithShortName(); track entry.participant.id){
    <app-participant
      [participant]="entry.participant"
      [participantNameShort]="entry.shortName"
      [emojiReaction]="emojiReactions()[entry.participant.id ?? '']"
      [inLineEditing]="isLobbyOwner()"
      (remove)="removeParticipant.emit($event)"
      (editSettings)="openParticipantSettings.emit(entry.participant)">
    </app-participant>
  }
</div>

