<div style="grid-area: header" class="header">
  <h3 style="grid-area: count">Deltagere - {{participants().length}}</h3>
  <div class="buttons" style="grid-area: buttons">
    @if (isLobbyOwner()) {
      <button class="btn-secondary-outlined" (click)="addParticipant.emit()">
        <material-icon icon="person_add"></material-icon>
        Tilføj deltager
      </button>
      <button class="btn-secondary-outlined" (click)="disconnect.emit()">
        <material-icon icon="exit_to_app"></material-icon>
        Luk Lobby
      </button>
    } @else {
      <button class="btn-secondary-outlined" (click)="disconnect.emit()">
        <material-icon icon="exit_to_app"></material-icon>
        Forlad lobby
      </button>
      <button class="btn-secondary-outlined" (click)="openParticipantSettings.emit(undefined)">Indstillinger</button>
    }
  </div>
  @if (participants().length && !isCompact()) {
    <div style="grid-area: line" class="horizontal_line"></div>
  }
</div>

<div cdkDropList (cdkDropListDropped)="onDrop($event)" class="participants" style="grid-area: participants" [style.view-transition-name]="'participant-list'">
  @for (entry of participantsWithShortName(); track entry.participant.id){
    <app-participant
      [style.view-transition-name]="'participant-' + entry.participant.id"
      class="participant"
      [cdkDragDisabled]="!isLobbyOwner()"
      cdkDrag
      cdkDragBoundary=".participants"
      [participant]="entry.participant"
      [participantNameShort]="entry.shortName"
      [emojiReaction]="emojiReactions()[entry.participant.id ?? '']"
      [inLineEditing]="isLobbyOwner()"
      [compact]="isCompact()"
      (remove)="removeParticipant.emit($event)"
      (editSettings)="openParticipantSettings.emit(entry.participant)">
    </app-participant>
  }
</div>

