@if (lobbyService.title() && lobbyService.websocketConnectionStatus() === ConnectionStatus.CONNECTED) {
  <div class="header" style="grid-area: header">
    <div>
      <h1>{{ lobbyService.title() }}</h1>
      <p class="header_subtitle">Du er {{ lobbyService.readableRole() }}</p>
    </div>

    <app-lobby-info-quick [lobbyId]="lobbyService.lobbyId() ?? ''"></app-lobby-info-quick>
  </div>

  <div style="grid-area: participant-list" class="left">
    <app-participant-overview
      [participants]="lobbyService.participants()"
      [isLobbyOwner]="lobbyService.isHost()"
      (addParticipant)="openNewParticipantOverlay()"
      (removeParticipant)="onRemoveParticipant($event)"
      (openParticipantSettings)="openEditParticipantSettingsOverlay($event)"
      (disconnect)="lobbyService.leaveLobby()"></app-participant-overview>

    @if (lobbyService.participants().length > 0) {
      <button class="start-btn" (click)="lobbyService.startGame()">Start spil • {{lobbyService.participants().length}} Spillere</button>
    }
  </div>


  <app-chat style="grid-area: chat"></app-chat>
} @else {
  <h2>{{ lobbyService.websocketConnectionStatus() }}</h2>
}
