:host {
  display: grid;
  gap: 20px;
  justify-self: center;

  min-width: 450px;
  width: 90%;
  grid-template-areas:
    'header'
    'participant-list'
    'chat';
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media(min-width: 1000px) {
  :host{
    width: 90vw;
    max-width: 1500px;
    grid-template-columns: 1fr auto;
    grid-template-areas:
    'header header'
    'participant-list chat';
  }
}
