<div class="content">
  <h2>
    <div>BEER</div>
    <div>ACADEMY</div>
  </h2>

  <div>
    <span>Du er ved at deltage i</span>
    <h1>{{ partyName() }}</h1>
    <span>{{ alreadyJoined() }} er allerede med</span>
  </div>


  @if (partyInfo().partyState === PartyState.Lobby) {
    <div>
      <div id="input">
        <label for="participant-name">dit navn</label>
        <input
          id="participant-name"
          [formField]="nameForm.participantName"
          (keyup.enter)="getLobbyParticipantToken(nameModel().participantName)"
          placeholder="fx. Anders"
          autocomplete="new-password"
          data-dashlane-disabled-on-field="true">
      </div>
      <button (click)="getLobbyParticipantToken(nameModel().participantName)" [disabled]="nameForm().invalid()">
        @if (joining()) {
          <app-dot-loader color="var(--btn-foreground)"></app-dot-loader>
        } @else {
          Deltag
        }
      </button>
    </div>
  } @else {
    <div class="players">
      @for (participant of participants(); track participant.id) {
        <app-existing-participant
          (keydown)="onParticipantSelected(participant)"
          (click)="onParticipantSelected(participant)"
          [participant]="participant"
          [isSelected]="participant === selectedParticipant()"></app-existing-participant>
      }
      <button (click)="getGamePlayerToken()" [disabled]="!selectedParticipant()!!">
        @if (joining()) {
          <app-dot-loader color="var(--btn-foreground)"></app-dot-loader>
        } @else {
          Deltag
        }
      </button>
    </div>
  }

</div>

