<div class="beer-academy-title">
  <h2>
    <div>BEER</div>
    <div>ACADEMY</div>
  </h2>
</div>


<div class="info">
  <span>Du er ved at deltage i</span>
  <h1>{{ partyName() }}</h1>
  <span>{{ alreadyJoined() }} er allerede med</span>
</div>


<div class="action">
  @if (partyInfo().partyState === PartyState.Lobby) {
    <div class="lobby-input">
      <div id="input">
        <label for="participant-name">dit navn</label>
        <input
          id="participant-name"
          [formField]="nameForm.participantName"
          (keyup.enter)="getLobbyParticipantToken(nameModel().participantName)"
          placeholder="fx. Anders"
          autocomplete="new-password"
          data-dashlane-disabled-on-field="true">
      </div>
      <button (click)="getLobbyParticipantToken(nameModel().participantName)" [disabled]="nameForm().invalid()">
        @if (joining()) {
          <app-dot-loader color="var(--btn-foreground)"></app-dot-loader>
        } @else {
          Deltag
        }
      </button>
    </div>
  } @else {
    <div class="players">
      @for (participant of participants(); track participant.id) {
        <app-existing-participant
          [participant]="participant"
          [isBeingWatched]="autoJoinAsIfAvailable()?.id === participant.id"
          (removeWatcher)="autoJoinAsIfAvailable.set(undefined)"
          (connect)="connectAsParticipant($event)"
          (requestRelease)="requestRelease($event)">
        </app-existing-participant>
      }
    </div>
  }
</div>




