<div class="page-indicator">
  @for (page of pages; track page.id) {
    <div id="dot"></div>
  }
</div>
<p class="page-count">1/7</p>
<div class="main-content">
  <p [style.color]="'white'"></p>

  @if (isStartPage()) {
    <div id="start-page" animate.leave="page-leave">
      <p class="subtitle">Spillet er slut</p>
      <h1>Bunken er tom.</h1>
      <p>Lobby navn • 42:17:12</p>
    </div>
  } @else if (isSummaryPage()){
    <div>
      <h1 animate.enter="page-enter">End of pages</h1>
    </div>
  } @else {
    @let pageInfo = pages[currentPageIndex()];
    <div class="achievement-page" animate.enter="page-enter" animate.leave="page-leave">
      <p>
        <app-animated-text [text]="pageInfo.achievementTitle" [effect]="'roll'"></app-animated-text>
      </p>
      <h1>
        <app-animated-text [text]="pageInfo.playerName" [key]="pageInfo.id" />
      </h1>
      <h2>
        {{ statValue() | number: '1.2-2'}} <app-animated-text [text]="pageInfo.statUnit" [key]="pageInfo.id" [effect]="'roll'"></app-animated-text>
      </h2>
      <p>
        <app-animated-text [text]="pageInfo.explanation" [key]="pageInfo.id"></app-animated-text>
      </p>
    </div>
  }
</div>

<div class="footer">
  @if (isStartPage()){
    <div class="player-badges" animate.leave="page-leave">
      @for (player of players(); track player.id) {
        <app-participant-badge [initials]="player.name.substring(0,1)" [backgroundColor]="player.color"
                               [size]="'s'"></app-participant-badge>
      }
    </div>
  } @else if (isAchievementPage()){
    <div class="runner-ups" animate.enter="page-enter">

      <div class="nth-place">
        <p class="placement">2</p>
        <p class="player-name">Lasse Johansen</p>
        <p class="stat-value">2.4</p>
        <p class="stat-unit">s</p>
      </div>

      <div class="nth-place">
        <p class="placement">3</p>
        <p class="player-name">Jakob</p>
        <p class="stat-value">5.3</p>
        <p class="stat-unit">s</p>
      </div>

    </div>


  } @else if (isSummaryPage()){
    <p>Summary</p>
  }

</div>


<div class="action-buttons">
  <button class="btn-secondary-outlined" (click)="currentPageIndex.update(current => current-1)">Tilbage</button>
  <button class="btn-secondary-outlined" (click)="currentPageIndex.update(current => current+1)">Se kåringer</button>
</div>
