:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5px auto 1fr;

  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;

  padding: 40px;
  gap: 5px;
  color: white;

  transition: background-color 0.3s ease-in-out;
}

.page-indicator {
  display: flex;
  gap: 5px;

  grid-column: 1 / span 2;

  #dot {
    background-color: var(--color-white);
    border-radius: 100px;
    flex: 1;
  }
}

.page-count {
  justify-self: end;
  color: var(--color-white);

  grid-column: 2;

  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;

  margin: 0;
}

.main-content {
  display: grid;
  align-content: center;
  align-items: center;
  grid-column: 1 / -1;

  > * {
    grid-area: 1 / 1;
    display: grid;
    gap: 10px;

  }

  h1, h2 {
    font-weight: 900;
    margin: 0 calc(-1 * var(--archivo-side-bearing));
  }

  p {
    color: var(--color-white);
    margin: 0;
  }

  #start-page h1 {
    font-size: 200px;
  }

  .achievement-page {
    h1 {
      font-size: 150px;
    }

    h2 {
      font-size: 100px;
    }

    p {
      font-size: 30px;
    }
  }
}

.footer {
  display: grid;
  grid-auto-flow: column;
  grid-column: 1;
  align-content: center;

  > * {
    width: fit-content;
  }
}

.player-badges {
  display: flex;

  app-participant-badge {
    border: 3px solid var(--background-color);
    margin: 0 -5px;
  }
}

.runner-ups {
  display: flex;
  gap: 20px;

  .nth-place {
    display: grid;
    gap: 5px;

    grid-template-columns:  repeat(2, auto) 1fr;

    p {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
    }

    .placement {
      grid-column: 1;
      grid-row: 1 / span 2;
      align-self: center;
      justify-self: start;
      margin-right: 10px;

      display: grid;
      place-items: center;
      width: 2em;
      aspect-ratio: 1;

      border: 3px solid white;
      border-radius: 50%;
    }

    .player-name {
      grid-column: 2 / span 2;
      grid-row: 1;

    }

    .stat-value {
      grid-column: 2;
      grid-row: 2;

      font-weight: unset;
    }

    .stat-unit {
      grid-column: 3;
      grid-row: 2;

      font-weight: unset;
    }
  }

  div {
    border-color: var(--color-white);
    border-style: solid;
    border-width: 0;
  }

  div:last-child:not(:only-child) {
    border-left-width: 3px;
    padding: 0 20px;
  }
}

.action-buttons {
  display: flex;
  grid-column: 2;
  gap: 15px;

  button {
    padding: 25px 30px;
    font-size: 14px;
    letter-spacing: 1px;
    border: unset;
  }
}

.page-leave {
  animation: page-leave 0.2s ease-in-out;
}

@keyframes page-leave {
  to {
    translate: -500px 0;
    opacity: 0;
  }
}

.page-enter {
  animation: page-enter 0.2s ease-in-out;
}

@keyframes page-enter {
  from {
    translate: 100% 0;
    opacity: 0;
  }
}
