@let page = currentPage();
<div class="page-indicator" [style.--page-progression.%]="(currentPageIndex()+1)/pages().length*100">
  <div class="backdrop">
    @for (_ of pages(); track $index) {
      <div class="dot"></div>
    }
  </div>
  <div class="foreground">
    @for (_ of pages(); track $index) {
      <div class="dot"></div>
    }
  </div>

</div>
<p class="page-count">{{currentPageIndex()+1}}/{{ pages().length }}</p>
<div class="main-content">
  <p [style.color]="'white'"></p>

  @switch (page.kind) {
    @case ('start') {
      <div id="start-page" animate.leave="page-leave">
        <p class="subtitle">Spillet er slut</p>
        <h1>Bunken er tom.</h1>
        <p>Lobby navn • 42:17:12</p>
      </div>
    }
    @case ('summary') {
      <div>
        <h1 animate.enter="page-enter">End of pages</h1>
      </div>
    }
    @case ('achievement') {
      @let achievement = page.achievement;
      <div class="achievement-page" animate.enter="page-enter" animate.leave="page-leave">
        <p>
          <app-animated-text [text]="achievement.title" [effect]="'roll'"></app-animated-text>
        </p>
        <h1>
          <app-animated-text [text]="achievement.player.name"/>
        </h1>
        <h2>
          {{ statValue() | number: '1.2-2' }}
          <app-animated-text [text]="achievement.unit" [effect]="'roll'"></app-animated-text>
        </h2>
        <p>
          <app-animated-text [text]="achievement.additionalInfo"></app-animated-text>
        </p>
      </div>
    }
  }
</div>

<div class="footer">
  @switch (page.kind) {
    @case ('start') {
      <div class="player-badges" animate.leave="page-leave">
        @for (player of players(); track player.id) {
          <app-participant-badge [initials]="player.name.substring(0,1)" [backgroundColor]="player.color"
                                 [size]="'s'"></app-participant-badge>
        }
      </div>
    }
    @case ('achievement') {
      <div class="runner-ups" animate.enter="page-enter">
        @let achievement = page.achievement;
        @for (runnerUp of achievement.runnerUps; track $index) {
          <div class="nth-place">
            <p class="placement">{{$index+2}}</p>
            <p class="player-name">
              <app-animated-text [text]="runnerUp.player.name" [effect]="'roll'"></app-animated-text>
            </p>
            <p class="stat-value">
              <app-animated-number [value]="runnerUp.value" digitsInfo="1.2-2" />
            </p>
            <p class="stat-unit">{{ achievement.unit }}</p>
          </div>
        }
      </div>
    }
    @case ('summary') {
      <p>Summary</p>
    }
  }
</div>


<div class="action-buttons">
  <button class="btn-secondary-outlined" [disabled]="page.kind === 'start'" (click)="previousPage()">Tilbage</button>
  <button class="btn-secondary-outlined" [disabled]="page.kind === 'summary'" (click)="nextPage()">Se kåringer</button>
</div>
