:host{
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  gap: 15px;
  padding-bottom: 15px !important;
  height: fit-content !important;
}
:host:not(.drawer-pane--compact){
  height: fit-content !important;
  width: 300px;
}

drawer-default-header{
  margin-bottom: 10px;
}

:host > div:nth-child(3){
  display: grid;
  gap: 5px;
}

button{
  justify-self: flex-end;
  align-self: flex-end;
  width: 100%;
}
p{
  margin: 0;
}
