:host{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 10px;
  border: 1px solid var(--color-cloud);
  border-radius: 10px;
  justify-content: space-around;
}

@media (max-width: 500px) {
  :host{
    scroll-snap-type: x mandatory;
    height: 300px;
    display: grid;
    width: 100%;
    overflow: auto;
    grid-template-columns: none;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
  }

  app-player-card{
    scroll-snap-align: start;
  }
}
