<div>Connection Status: {{connectionStatus()}}</div>
<div>Timer: {{formattedTime() | gameTimeFormat}}</div>
@if (gameInfo(); as game) {
  <div>{{game.name}} - {{game.id | gameId}}</div>
  <button (click)="startGame()">Start game</button>
}

<div class="players">
  @for (player of players(); track player.id) {
    <div class="player">
      <div>Name: {{player.name}}</div>
      <div>ID: {{player.id}}</div>

      <div style="margin-top: 20px">Chugs</div>
      @for (chug of player.stats?.chugs; track $index){
        <div>{{chug.suit}}-{{chug.chugTime}}</div>
      }

      <div style="margin-top: 20px">Turns</div>
      @for (turn of player.stats?.turns; track $index){
        <div>({{turn.card?.rank}}-{{turn.card?.suit}})-{{turn.round}}-{{turn.duration}}</div>
      }
    </div>
  }
</div>

<div class="draw_card_area">
  <div class="card deck" (click)="drawCard()">Deck</div>
  <div class="card">{{currentCard()?.suit}} - {{currentCard()?.rank}}</div>
</div>



