:host {
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto 250px;
  grid-template-areas:
    'card-count card-count card-count card-count'
    'draw-panel draw-panel draw-panel podium'
    'players players players podium';

  width: 100%;
  margin-bottom: 20px;
}

.pages,
.page {
  display: contents;
}

@media (max-width: 950px) {
  :host {
    overflow: auto;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'card-count'
      'draw-panel'
      'players'
      'podium';
  }
}

@media (max-width: 500px) {
  :host {
    overflow: visible;
    grid-template-columns: 100%;
    grid-template-rows: auto minmax(0, 1fr);
    grid-template-areas: none;

    --padding-bottom-offset: 20px;
    --page-bleed: 3dvw;
  }

  .pages {
    display: grid;
    grid-template-columns: repeat(2, 100%);
    column-gap: calc(2 * var(--page-bleed));

    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;

    scroll-snap-type: x mandatory;
    scroll-padding-inline: var(--page-bleed);

    margin: 0 calc(-1 * var(--page-bleed));
    padding: 0 var(--page-bleed);
  }

  .page {
    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow-y: auto;
    scrollbar-width: none;
    scroll-snap-align: start;

    padding-bottom: calc(var(--mobile-bottom-bar-height) + var(--padding-bottom-offset));
  }

  .podium-page {
    padding-bottom: var(--mobile-bottom-bar-height);
  }

  app-card-count {
    display: none;
  }
}
