:host{
  display: grid;
  height: 100%;
  width: 100%;

  justify-items: center;
  align-content: flex-start;
  gap: 25px;
}

.action_buttons{
  display: flex;
}

.players{
  width: fit-content;
  display: flex;
  gap: 20px;
}

.player{
  background-color: burlywood;

  color: white;
  padding: 10px;
  border-radius: 5px;
}
.active{
  background-color: #9c7d52;
}


.draw_card_area{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  height: 300px;
  width: 400px;
}
.card{
  display: flex;
  background-color: grey;
  width: 150px;
  height: 200px;

  border-radius: 20px;

  align-items: center;
  justify-content: center;

  user-select: none;
}

.deck{
  box-shadow: 2px 2px 4px #222222;
  cursor: pointer;
  user-select: none;
}
