:host {
  display: grid;
  grid-template-columns: 100px auto 1fr;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn-row{
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-self: end;
}

button {
  width: 40px;
  justify-self: end;
  padding: 0;
}

.badge {
  justify-self: center;

}


