:host {
  display: grid;
  grid-template-columns: 100px auto 1fr;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 100px;
  justify-self: end;
}

.badge {
  justify-self: center;

}


