:host{
  display: grid;
  justify-self: center;
}

.content{
  display: grid;
  justify-self: center;
  gap: 15px;
  width: 350px;
}

#header{
  font-size: 55px;
  text-align: center;

  cursor: pointer;
  user-select: none;
}
h1 > span{
  font-size: 5rem;
}

input, button{
  width: 100%;
  justify-self: center;
}
input{
  text-align: center;
}

#party-id-input{
  text-transform: uppercase;
}


@media (max-width: 450px) {
  .content{
    width: 80vw;
  }
}

@media (max-width: 750px) {
  #header > span{
    font-size: 10vw;
  }
}
