:host{
  display: grid;
}
.container{
  justify-self: center;
  display: inherit;
  gap: 20px;
  width: 350px;
}

input{
  width: 100%;
  justify-self: center;
}

button{
  width: 100%;
  justify-self: center;
}

@media (max-width: 350px) {
  .container{
    width: 95vw;
  }

}
