:host{
  display: grid;
}
.container{
  justify-self: center;
  display: inherit;
  gap: 20px;
  width: 350px;
}

input{
  width: 100%;
  justify-self: center;
}

button{
  width: 100%;
  justify-self: center;
}

.horizontal_line{
  color: grey;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.horizontal_line::before,
.horizontal_line::after{
  content: "";
  flex: 1;
  height: 1px;
  background: lightgray;
}
