:host {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);

  background-color: var(--color-white);
  border: 1px solid var(--border);
  border-radius: 10px;
  --panel-padding: 10px;
  padding: var(--panel-padding);
  align-items: center;
  overflow: hidden;

  gap: 10px;

  //TODO remove following values
  min-height: 200px;
}

.previous-draw {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  grid-row: 1 / span 3;
  height: 100%;
  align-items: center;
}

.card-stack {
  display: flex;
  position: relative;
  width: 235px;
  align-items: center;

  app-card {
    position: absolute;
    translate: calc(var(--index) * 35px) 0;
  }
}

.drawn-by {
  display: flex;
  flex-direction: column;
  gap: 5px;

  div {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  #sips{

    display: flex;
    align-items: end;

    p:nth-child(1) {
      font-size: 45px;
      font-weight: bold;
    }

  }
}

.now-drawing {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  gap: 5px;

  div {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  #current-player {
    font-size: 35px;
  }

  #timers {
    display: flex;
    gap: 10px;
    align-items: end;

    #current-time {
      font-size: 20px;
      font-weight: bold;
    }

    .current-time-average {
      color: var(--primary);
      font-size: 14px;
      letter-spacing: 0.5px;
      font-weight: 550;
    }

  }

  .avg-limit{
    grid-row: 1 / span 3;
    grid-column: 2;
    border-left: 1px dashed var(--color-cloud);
  }

}


.stats {
  display: flex;
  grid-column: 2;
  grid-row: 2;
  height: 100%;
  align-items: center;

  border-top: 1px solid var(--color-cloud);
  border-bottom: 1px solid var(--color-cloud);

  > div {
    flex: 1;
  }

  #next-up {
    div {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  #ace-change {
    h2 {
      color: var(--primary);
      letter-spacing: 1px;
      font-variant-numeric: tabular-nums;
    }
  }
}

.buttons {
  display: grid;
  grid-column: 2;
  grid-row: 3;
  grid-auto-flow: column;

  grid-template-columns: 4fr 1fr 1fr;
  gap: 5px;

  button {
    width: 100%;
  }
}



p, h4, h2 {
  margin: 0;
}

.horizontal_line {
  --horizontal-line-color: var(--color-cloud);
}

@media (max-width: 650px) {

}
