<h3>Podiet</h3>

<div class="columns">
  @for (step of podiumSteps(); track step.placement) {
    <div class="column">
      @let playerName = step.player?.name;
      @let empty = !step.player;

      <app-participant-badge
        [initials]="playerName?.[0] ?? ''"
        size="s"
        [style]="empty ? 'local' : 'default'"
        [backgroundColor]="step.player?.color ?? 'transparent'"
      ></app-participant-badge>
      <p class="player-name" [class.empty]="empty">{{ playerName ?? 'Ledig' }}</p>
      <div
        class="podium-shape"
        [class.slup-animation]="step.animating"
        (animationiteration)="swapPlayer(step.placement)"
        (animationend)="setAnimating(step.placement, false)"
        [class.empty]="empty"
        [style.--color]="step.color"
        [style.--placement]="step.placement"
      >
        <p class="placement">{{ step.placement }}</p>
        @if (step.time !== undefined) {
          <p class="time">{{ step.time / 1000 | number: '1.2-2' }} s</p>
        } @else {
          <p class="time">--</p>
        }
      </div>
    </div>
  }
</div>

@if (chugHistory().length) {
  <section class="chug-history" tabindex="0" aria-label="Chug-historik">
    <p class="subtitle">Seneste ↑</p>
    @for (chug of chugHistory(); track chug.chugNumber) {
      <div class="chug-time">
        <app-card
          size="small"
          [card]="{ rank: aceRank, suit: chug.chug.suit ?? 'SPADE' }"
        ></app-card>
        <p>{{ chug.player.name }}</p>
        @if (chug.placement && chug.placement <= 3) {
          <div
            class="placement-indicator"
            [style.--indicator-color]="placementColors[chug.placement]"
          >
            <p>{{ chug.placement }}</p>
          </div>
        }
        @if (chug.chug.chugTimeMillis !== undefined) {
          <p>{{ chug.chug.chugTimeMillis / 1000 | number: '1.2-2' }}s</p>
        } @else {
          <p>--</p>
        }
      </div>
    }
  </section>
}
