:host {
  width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  gap: 10px;
  display: grid;

  justify-items: center;
}

.time {
  display: flex;
  justify-content: center;
  width: 70%;
  background-color: lightgray;
  padding: 0 20px;
  border-radius: 10px;
}

.buttons{
  display: flex;
  gap: 10px;
}
