:host{
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 10px;

  div:nth-child(n+2){
    p:nth-child(n+2){
      text-align: center;
    }
  }
}

.card{
  display: grid;
  grid-column: 1 / span 4;
  grid-template-columns: subgrid;
  align-items: center;
  gap: 10px;

  p{
    margin: 0;
  }

  .rank{
    font-weight: bold;
    font-size: 18px;
  }
}

.labels{
  display: grid;
  grid-column: 1 / span 4;
  grid-template-columns: subgrid;

  p{
    margin: 0;
  }
}

.diagram-row{
  position: relative;

  border-radius: 100px;
  overflow: hidden;

  height: 10px;
  width: 100%;

  div{
    position: absolute;
    width: 100%;
    height: 100%;
  }

  div:first-child{
    background-color: var(--primary-disabled);
  }
  div:last-child{
    background-color: var(--primary);
    width: var(--card-progress);
    transition: width 0.25s ease-in-out;
  }
}
