@for (round of rounds(); track round.roundNr) {
  <div class="round">
    <p class="subtitle">Runde {{ round.roundNr }}</p>
    @for (turn of round.turns; track `${turn.player.id}-${turn.info.round}`) {
      <div class="turn" [style.--player-color]="turn.player.color">
        <p class="subtitle">{{ turn.info.round }}</p>

        <div class="multi-vertical">
          <app-dot [color]="turn.player.color" [radiusPx]="8"></app-dot>
          <p class="player-name">{{ turn.player.name }}</p>
        </div>

        <div class="multi-vertical card">
          <p>{{ turn.info.card?.rank }}</p>
          <suit-icon [suit]="turn.info.card?.suit ?? 'SPADE'"></suit-icon>
        </div>

        <p class="subtitle">{{ turn.info.durationInMillis ?? 0 | gameTimeFormat: 'mm:ss:SS' }}</p>
      </div>
    }
  </div>
}
