apiVersion: v1
kind: Service
metadata:
  name: beer-academy-backend-service
  namespace: beer-academy
  labels:
    app: beer-academy-backend
spec:
  selector:
    app: beer-academy-backend
  ports:
    - protocol: TCP
      port: 80 # The port the service will listen on *inside* the cluster
      targetPort: 8080 # The port on the pod to send traffic to
      name: http
  type: ClusterIP # <--- CHANGE THIS LINE from NodePort to ClusterIP
  # Remove the 'nodePort: 30080' line if it's still present