:host {
  display: grid;
  width: 100%;
  max-width: 500px;
}


.toast {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;

  display: grid;
  column-gap: 10px;
  row-gap: 5px;
  background-color: var(--nice-black);
  padding: 10px 15px;

  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: auto 1fr;

  width: 100%;
  color: var(--color-white);
  border-radius: 100px;

  align-content: center;
  align-items: center;

  app-dot{
    grid-row: 1 / -1;
  }

  .title{
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
    font-weight: bold;
  }

  p{
    grid-row: 2;
  }

  :nth-child(n+2) {
    grid-column: 2;
  }

  &:focus-visible {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
  }
}
