:host {
  display: grid;
  justify-self: center;
  width: 95vw;
  max-width: 1800px;
  margin-top: 10px;
  --animation-speed: 0.35s;
}

:host(.is-lobby) .header {
  grid-template-rows: auto;
}

.header {
  display: grid;
  align-items: center;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;

  border-radius: 10px;
  padding: 10px;
  background-color: var(--color-white);
  border: 1px solid var(--border);

  margin-bottom: 10px;
}

.header > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;

  h2,
  p {
    margin: 0;
  }
  h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.time {
  display: grid;
  gap: 5px;
  justify-items: center;

  p,
  h1 {
    margin: 0;
  }
}

.buttons {
  display: flex;
  grid-column: 3;
  gap: 5px;
  justify-self: end;
}

.round-indicator-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  grid-column: 1 / span 3;

  p {
    margin: 0;
  }
}

.round-indicator {
  position: relative;
  display: grid;

  grid-template-rows: 5px;
}

.round-indicator > div {
  display: grid;
  position: absolute;
  width: 100%;
  grid-auto-flow: column;
  grid-template-rows: 3px;
  gap: 2px;

  mask-image: linear-gradient(#000 0 0);
  mask-repeat: no-repeat;

  transition: mask-size var(--animation-speed) ease-in-out;
}

.round-indicator > div:nth-child(1) {
  mask-size: 100%;
  animation: wipe-in var(--animation-speed) ease forwards;
}

.round-indicator > div:nth-child(2) {
  mask-size: var(--progress) 100%;
}

.round-dot {
  border-radius: 15px;
  background-color: var(--primary-disabled);
}

.round-dot.active {
  background-color: var(--complementary);
}

.round-dot.completed {
  background-color: var(--primary);
}

button.do-animate {
  animation: fly-in-from-left var(--animation-speed) ease-in-out both;
  animation-delay: calc(var(--i) * 0.05s);
}

@keyframes wipe-in {
  from {
    mask-size: 0 100%;
  }
  to {
    mask-size: 100% 100%;
  }
}

@keyframes fly-in-from-left {
  from {
    translate: -100% 0;
    opacity: 0;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}

@media (max-width: 650px) {
  :host {
    width: 100vw;
    padding: 0 3dvw;
    margin: 0;
    --compact-font-size: 14px;
  }
  .header {
    position: sticky;
    margin-inline: -3dvw;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100dvw;
    border-radius: unset;

    grid-template-columns: auto auto 1fr;

    column-gap: 5px;
    row-gap: 15px;

    > :first-child {
      grid-column: 1 / span 2;
    }
  }

  .time {
    gap: unset;

    grid-row: 2;

    .subtitle {
      display: none;
    }

    h1 {
      color: var(--primary-disabled-text);
      font-size: var(--compact-font-size);
      grid-row: 2;
    }

    :before {
      content: '| ';
    }
  }

  .compact-round-counter {
    grid-column: 1;
    display: flex;
    gap: 5px;
    justify-items: end;

    p,
    h2 {
      font-size: var(--compact-font-size);
      margin: 0;
    }
    .subtitle {
      text-transform: unset;
    }
  }

  .round-indicator-container {
    grid-column: 1 / -1;
  }
  .buttons {
    grid-column: 3;
    grid-row: 1 / -1;
  }
}

@media (max-width: 500px) {
  :host(.is-game) {
    height: 100dvh;
    grid-template-rows: auto auto minmax(0, 1fr);
  }
}
