:host {
  display: grid;
  justify-self: center;
  width: 85vw;
  margin-top: 10px;
  --animation-speed: 0.55s;
}

:host(.is-lobby) .header {
  grid-template-rows: auto;
}

.header {
  display: grid;
  align-items: center;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;

  border-radius: 10px;
  padding: 10px;
  background-color: var(--color-white);
  border: 1px solid var(--border);

  margin-bottom: 10px;
}

.header > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;

  h2, p {
    margin: 0;
  }
  h1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.time {
  display: grid;
  gap: 5px;
  justify-items: center;

  p, h1 {
    margin: 0;
  }
}


.buttons {
  display: flex;
  grid-column: 3;
  gap: 5px;
  justify-self: end;
}

.round-indicator-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
  grid-column: 1 / span 3;

  p{
    margin: 0;
  }
}

.round-indicator {
  position: relative;
  display: grid;

  grid-template-rows: 5px;
}

.round-indicator > div {
  display: grid;
  position: absolute;
  width: 100%;
  grid-auto-flow: column;
  grid-template-rows: 5px;
  gap: 2px;

  mask-image: linear-gradient(#000 0 0);
  mask-repeat: no-repeat;

  transition: mask-size var(--animation-speed) ease-in-out;
}

.round-indicator > div:nth-child(1) {
  mask-size: 100%;
  animation: wipe-in var(--animation-speed) ease forwards;
}

.round-indicator > div:nth-child(2) {
  mask-size: var(--progress) 100%;

}

.round-dot {
  border-radius: 15px;
  background-color: var(--primary-disabled);
}

.round-dot.active {
  background-color: var(--complementary);
}

.round-dot.completed {
  background-color: var(--primary);
}

.compact-round-counter {
  display: grid;
  gap: 5px;
  justify-items: end;

  p, h2 {
    margin: 0;
  }
}

button.do-animate {
  animation: fly-in-from-left var(--animation-speed) ease-in-out both;
  animation-delay: calc(var(--i) * 0.05s);
}

@keyframes wipe-in {
  from {
    mask-size: 0 100%;
  }
  to {
    mask-size: 100% 100%;
  }
}

@keyframes fly-in-from-left {
  from {
    translate: -100% 0;
    opacity: 0;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}

@media (max-width: 650px) {
  :host {
    width: 100vw;
    padding: 3dvw;
    margin: 0;
  }
  .header {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto;
    gap: 5px;
  }
  .time {
    justify-items: start;
    grid-column: 1 !important;
    grid-row: 2;

    h1 {
      grid-row: 2;
    }
  }
  .round-indicator-container {
    grid-column: 1 / span 2;
  }
  .buttons{
    grid-column: 2;
  }

}


