:host{
  display: grid;
  grid-template-rows: auto auto 1fr;
  align-items: end;
  padding-bottom: 15px !important;
}

.preview {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  max-height: 60vh;
  object-fit: cover;
  border-radius: 0.5rem;
  background: black;
}

button{
  width: 100%;
}
