:host {
  display: grid;
  grid-template-rows: auto 1fr 100px;

  background-color: white;

  border: 2px solid lightgray;
  border-radius: 10px;

  padding: 10px;

  min-height: 500px;
  max-height: 850px;
}

.message-container {
  display: grid;
  overflow: auto;

  scrollbar-width: thin;
  scrollbar-color: lightgray transparent;
  scroll-behavior: smooth;
}

.message-creation {
  display: grid;
  align-content: end;
  gap: 10px;
}

.emoji-row {
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: space-between;
}

.emoji-row > div {
  background-color: white;

  border: 2px solid lightgray;
  border-radius: 10px;

  height: 40px;
  width: 100%;

  align-content: center;
  text-align: center;
  justify-items: center;

  cursor: pointer;
  user-select: none;

  transition: all 0.200s cubic-bezier(0.38, 1.21, 0.22, 1.00);
}

.emoji-row > div:hover {
  background-color: antiquewhite;
  font-size: 20px;
}

.emoji-row > div:active {
  background-color: white;
  padding-bottom: 20px;
}

input {
  width: 100%;
}
.msg-input{
  display: flex;
  gap: 10px;
}
