:root {
  /* Primitives */
  --color-coffie-50: #fdf8ed;
  --color-coffie-100: #f8eacd;
  --color-coffie-200: #f1d496;
  --color-coffie-300: #eab95f;
  --color-coffie-400: #e4a13b;
  --color-coffie-500: #dc8224;
  --color-coffie-600: #c2611c;
  --color-coffie-700: #a2451b;
  --color-coffie-800: #84371c;
  --color-coffie-900: #6d2e1a;
  --color-coffie-950: #3e160a;

  --color-melon-500:    #fad390;
  --color-melon-600:    #f8c291;
  --color-indigo-500:   #4f46e5;
  --color-indigo-600:   #4338ca;
  --color-slate-100:    #f1f5f9;
  --color-slate-300:    #cbd5e1;
  --color-slate-700:    #334155;
  --color-red-600:      #dc2626;
  --color-red-700:      #b91c1c;
  --color-white:        #fff;
  --color-black:        #120e0e;
  --color-silver:       #bdc3c7;
  --color-cloud:        #ecf0f1;
  --complementary:      #247edc;


  /* Semantic */
  --primary:        var(--color-coffie-500);
  --primary-hover:  var(--color-coffie-600);
  --primary-text:   var(--color-black);
  --primary-complementary:   var(--complementary);
  --accent:         var(--color-indigo-500);
  --surface:        var(--color-white);
  --surface-muted:  var(--color-slate-100);
  --border:         var(--color-slate-300);
  --text:           var(--color-slate-700);
  --danger:         var(--color-red-600);
  --danger-hover:   var(--color-red-700);
}
