/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

h1,h2,h3,h4,h5,h6,p, input{
  font-family: "Archivo", sans-serif;
}

button{
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 5px;

  width: fit-content;
  height: 40px;

  background-color: #b65b1a;
  color: white;

  border: none;
  cursor: pointer;

  transition: all 0.200s cubic-bezier(0.38, 1.21, 0.22, 1.00);
}
button:hover{
  background-color: #d58955;

  color: white;
}
button:active{
  background-color: #603315;
}
.btn-secondary{
  color: black;
  background-color: white;
  border: 1px solid black;
}
.btn-warning{
  color: black;
  background-color: white;
  border: 1px solid black;
}
.btn-warning:hover{
  color: black;
  background-color: orange;
  border: 1px solid #b65b1a;
}


input{
  border-style: solid;
  border-color: lightgray;
  border-radius: 5px;

  padding: 15px 20px;
  margin: 0;

  height: 25px;

  font-size: 16px;
}

.header_subtitle{
  margin-top: -15px;
  color: grey;
}
.upper_subtitle{
  padding: 0;
  margin: 0;
  color: darkgray;
}

.horizontal_line{
  color: grey;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.horizontal_line:empty{
  gap: 0;
}

.horizontal_line::before,
.horizontal_line::after{
  content: "";
  flex: 1;
  height: 1px;
  background: lightgray;
}





