@use "colors";

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

:root {
  --btn-background: var(--primary);
  --btn-background-hover: var(--primary-hover);
  --btn-foreground: var(--color-white);
  --btn-foreground-hover: var(--color-white);
}

body {
  margin: 0;
  background-color: #ecf0f1;
}

h1, h2, h3, h4, h5, h6, p, input {
  font-family: "Archivo", sans-serif;
}

button {
  font-family: "Archivo", sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  white-space: nowrap;

  width: fit-content;
  height: fit-content;

  background-color: var(--btn-background);
  color: var(--btn-foreground);

  border: none;
  cursor: pointer;

  transition: all 0.200s cubic-bezier(0.38, 1.21, 0.22, 1.00);
}

button:hover {
  background-color: var(--btn-background-hover);
  color: var(--btn-foreground-hover);
}
button:active {
  background-color: color-mix(in oklab, var(--btn-background), black 30%);
}

.btn-secondary{
  --btn-background: var(--color-black);
  --btn-background-hover: var(--color-white);
  --btn-foreground: var(--color-white);
  --btn-foreground-hover: var(--color-black);
  border: 1px solid var(--btn-background);
}

.btn-tertiary{
  --btn-background: var(--color-white);
  --btn-background-hover: var(--color-black);
  --btn-foreground: var(--color-black);
  --btn-foreground-hover: var(--color-white);
  border: 1px solid var(--color-silver);
}

.btn-warning{
  --btn-background: var(--color-white);
  --btn-background-hover: var(--color-black);
  --btn-foreground: var(--color-black);
  --btn-foreground-hover: var(--color-white);
}




input {
  border-style: solid;
  border-color: var(--color-silver);
  border-radius: 10px;
  border-width: 1px;

  padding: 10px 20px;
  margin: 0;

  font-size: 16px;
}
input::placeholder {
  color: var(--color-silver);
  font-size: 14px;
}

.header_subtitle {
  margin-top: -15px;
  color: var(--color-silver);
}

.upper_subtitle {
  padding: 0;
  margin: 0;
  color: var(--color-silver);
}

.horizontal_line{
  color: var(--color-silver);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.horizontal_line:empty{
  gap: 0;
}

.horizontal_line::before,
.horizontal_line::after{
  content: "";
  flex: 1;
  height: 1px;
  background: var(--color-silver);
}





