:host{
  position: relative;
  margin-bottom: 75px;
  height: 75px;
  width: min(90vw, 500px);
  pointer-events: auto;
}

:host(.overlay-leaving) {
  animation: toast-container-leave 0.25s ease-in-out forwards;
}


app-toast{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.toast-in{
  animation: toast-in 0.25s ease-in-out forwards;
}
.toast-out{
  animation: toast-out 0.25s ease-in-out forwards;
}
@keyframes toast-in {
  from{
    opacity: 0;
    translate: 0 -50px;
  }
}
@keyframes toast-container-leave {
  to{
    opacity: 0;
  }
}
@keyframes toast-out {
  to{
    opacity: 0;
    translate: 0 50px;
  }
}
