:host{
  display: grid;

  width: 100%;
  padding: 0 10px;

  grid-template-columns: 1fr auto auto;
  gap: 10px;

  border-radius: 5px;
  border: 1px solid var(--color-cloud);

  background-color: var(--color-white);

  transition: transform .1s ease-out;

  user-select: none;
  pointer-events: none;
}

:host(.selectable){
  pointer-events: unset;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

:host(.selectable):hover{
  cursor: pointer;
  transform: translate(5px, 0px);
}
:host(.selectable):active{
  cursor: pointer;
  transform: translate(20px, 0px);
}

:host(.selected){
  border-color: var(--color-coffie-400);
  background-color: var(--color-coffie-400);
}

p, material-icon{
  letter-spacing: 2px;
  font-weight: 500;
  color: var(--color-slate-700);
}

.locked{
  color: var(--color-grey-600);
}

.connected{
  color: var(--color-emerald-600);
}

.disconnected{
  color: var(--color-alizarin-600);
}


