:host {
  display: grid;

  width: 100%;
  padding: 10px;

  grid-template-columns: auto 1fr auto;
  gap: 10px;

  align-items: center;

  border-radius: 15px;
  border: 1px solid var(--color-grey-500);

  background-color: var(--color-white);

  transition: transform .1s ease-out;
}

:host(.isReserved){
  background-color: color-mix(in oklab, var(--primary), white 95%);
  border-color: var(--primary);
}

:host(.isReserved) .dot{
  background-color: var(--primary-hover);
}
:host(.isFree) .dot{
  background-color: var(--color-grey-500);
}
.dot {
  $radius: 8px;
  width: $radius;
  height: $radius;
  background-color: #2ecc71;

  border-radius: 50%;
}

h3{
  font-weight: 500;
}

p {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-grey-600);
}

button{
  height: unset;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1px;
}

