name: Build and Deploy to Microk8s

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:
    inputs:
      scan:
        description: 'Run SonarQube Scan'
        required: true
        default: true
        type: boolean
      deploy:
        description: 'Deploy to Microk8s after build'
        required: true
        default: true
        type: boolean


env:
  REGISTRY: ghcr.io
  OPEN_API_SPEC_FILE_ARTIFACT_NAME: openapi-spec
  FRONTEND_IMAGE_NAME: ${{ github.actor }}/beer-academy-frontend
  BACKEND_IMAGE_NAME: ${{ github.actor }}/beer-academy-backend
  NAMESPACE: beer-academy
  VERSION: ${{ github.ref_name }}

jobs:
  build-test-and-deploy-backend:
    runs-on: self-hosted

    steps:
      - name: Log environment variables
        run: |
          echo "User: ${{ env.USER }}"
          echo "Registry: ${{ env.REGISTRY }}"
          echo "Frontend Image Name: ${{ env.FRONTEND_IMAGE_NAME }}"
          echo "Backend Image Name: ${{ env.BACKEND_IMAGE_NAME }}"
          echo "Semantic Version: ${{ env.VERSION }}"


      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Cache SonarQube packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build and test with Gradle
        run: |
          chmod +x gradlew
          ./gradlew build test
        working-directory: ./backend

      - name: SonarQube Scan
        if: github.event_name == 'push' || github.event.inputs.scan == 'true'
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: https://sonarcloud.io
        run: ./gradlew sonar -Dsonar.branch.name=main --info
        working-directory: ./backend

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew quarkusBuild
        working-directory: ./backend

      - name: Upload OpenAPI Spec
        uses: actions/upload-artifact@v6
        with:
          name: openapi-spec
          path: backend/build/generated-openapi/openapi.json

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Convert image name to lowercase
        id: IMAGE_NAME
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{env.BACKEND_IMAGE_NAME}}

      - name: Build and push Docker image
        if: github.event_name == 'push' || github.event.inputs.deploy == 'true'
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/src/main/docker/Dockerfile.jvm
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ steps.IMAGE_NAME.outputs.lowercase }}:${{github.ref_name}}
            ${{ env.REGISTRY }}/${{ steps.IMAGE_NAME.outputs.lowercase }}:latest
      #
      - name: Deploy to Microk8s
        if: github.event_name == 'push' || github.event.inputs.deploy == 'true'
        run: |
          # Use the kubectl provided by MicroK8s
          microk8s.kubectl set image deployment/beer-academy-backend-deployment beer-academy-backend-container=${{ env.REGISTRY }}/${{ steps.IMAGE_NAME.outputs.lowercase }}:${{github.ref_name}} -n ${{env.NAMESPACE}}
          microk8s.kubectl rollout status deployment/beer-academy-backend-deployment -n beer-academy



  build-test-and-deploy-frontend:
    needs: build-test-and-deploy-backend
    runs-on: self-hosted

    steps:
      - name: Log environment variables
        run: |
          echo "User: ${{ env.USER }}"
          echo "Registry: ${{ env.REGISTRY }}"
          echo "Frontend Image Name: ${{ env.FRONTEND_IMAGE_NAME }}"
          echo "Backend Image Name: ${{ env.BACKEND_IMAGE_NAME }}"
          echo "Semantic Version: ${{ env.VERSION }}"

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get the Spec from the "Locker"
        uses: actions/download-artifact@v7
        with:
          name: openapi-spec
          path: ./frontend/openapi-spec/

      - name: SonarQube Scan - Frontend
        if: github.event_name == 'push' || github.event.inputs.scan == 'true'
        uses: SonarSource/sonarqube-scan-action@v7.0.0
        with:
          projectBaseDir: frontend
          args: >
            -Dsonar.branch.name=main
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: https://sonarcloud.io

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Convert image name to lowercase
        id: IMAGE_NAME
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{env.FRONTEND_IMAGE_NAME}}

      - name: Build and push Docker image
        if: github.event_name == 'push' || github.event.inputs.deploy == 'true'
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ steps.IMAGE_NAME.outputs.lowercase }}:${{github.ref_name}}
            ${{ env.REGISTRY }}/${{ steps.IMAGE_NAME.outputs.lowercase }}:latest
      #
      - name: Deploy to Microk8s
        if: github.event_name == 'push' || github.event.inputs.deploy == 'true'
        run: |
          # Use the kubectl provided by MicroK8s
          microk8s.kubectl set image deployment/beer-academy-frontend-deployment beer-academy-frontend-container=${{ env.REGISTRY }}/${{ steps.IMAGE_NAME.outputs.lowercase }}:${{github.ref_name}} -n ${{env.NAMESPACE}}
          microk8s.kubectl rollout status deployment/beer-academy-frontend-deployment -n beer-academy

