name: Build and Deploy
run-name: Build of ${{ github.ref_name }} triggered by ${{ github.event_name }}

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:
    inputs:
      test-and-scan:
        description: 'Run unit tests and SonarQube scan'
        required: true
        default: true
        type: boolean

env:
  # Environment variable to control whether to run tests and SonarQube scan
  RUN_SCAN_AND_TEST: ${{ github.event_name == 'push' || github.event.inputs['test-and-scan'] == 'true' }}

  # OpenAPI spec file artifact name for sharing between jobs
  OPEN_API_SPEC_FILE_ARTIFACT_NAME: openapi-spec

  # Environment variables for Docker registry and image names
  REGISTRY: ghcr.io
  FRONTEND_IMAGE_NAME: ${{ github.actor }}/beer-academy-frontend
  BACKEND_IMAGE_NAME: ${{ github.actor }}/beer-academy-backend
  NAMESPACE: beer-academy
  VERSION: ${{ github.ref_name }}

jobs:

  log-inputs:
    name: Log Workflow Inputs
    runs-on: self-hosted

    steps:
      - name: Log workflow inputs
        run: |
          echo "Event Name: ${{ github.event_name }}"
          echo "Run Scan env: ${{ env.RUN_SCAN_AND_TEST }}"
          echo "Test and Scan: ${{ github.event.inputs['test-and-scan'] }}"

      - name: Log environment variables
        run: |
          echo "Registry: ${{ env.REGISTRY }}"
          echo "Frontend Image Name: ${{ env.FRONTEND_IMAGE_NAME }}"
          echo "Backend Image Name: ${{ env.BACKEND_IMAGE_NAME }}"
          echo "Semantic Version: ${{ env.VERSION }}"



  generate-openapi:
    name: Generate OpenAPI Spec
    runs-on: self-hosted
    needs: log-inputs

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2

      - name: Set up JDK 21
        uses: actions/setup-java@v5.2.0
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Generate OpenAPI Spec
        run: |
          chmod +x gradlew
          ./gradlew quarkusBuild -x test
        working-directory: ./backend

      - name: Upload OpenAPI Spec
        uses: actions/upload-artifact@v6
        with:
          name: ${{ env.RUN_SCAN_AND_TEST }}
          path: backend/build/generated-openapi/openapi.json
  build-test-and-scan-backend:
    name: Build, Test and Scan Backend
    runs-on: self-hosted
    needs: log-inputs

    steps:

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache SonarQube packages
        if: env.RUN_SCAN_AND_TEST == 'true'
        uses: actions/cache@v5.0.3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-sonar-

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build and test with Gradle
        if: env.RUN_SCAN_AND_TEST == 'true'
        run: |
          chmod +x gradlew
          ./gradlew build test
        working-directory: ./backend

      - name: SonarQube Scan
        if: env.RUN_SCAN_AND_TEST == 'true'
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: https://sonarcloud.io
        run: ./gradlew sonar -Dsonar.branch.name=main --info
        working-directory: ./backend

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew quarkusBuild
        working-directory: ./backend

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Convert image name to lowercase
        id: IMAGE_NAME
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{env.BACKEND_IMAGE_NAME}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/src/main/docker/Dockerfile.jvm
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ steps.IMAGE_NAME.outputs.lowercase }}:${{github.ref_name}}
            ${{ env.REGISTRY }}/${{ steps.IMAGE_NAME.outputs.lowercase }}:latest


  build-test-and-scan-frontend:
    name: Build, Test and Scan Frontend
    needs: generate-openapi
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Get OpenAPI Spec artifact
        uses: actions/download-artifact@v7
        with:
          name: ${{ env.RUN_SCAN_AND_TEST }}
          path: ./frontend/openapi-spec/

      - name: SonarQube Scan - Frontend
        if: env.RUN_SCAN_AND_TEST == 'true'
        uses: SonarSource/sonarqube-scan-action@v7.0.0
        with:
          projectBaseDir: frontend
          args: >
            -Dsonar.branch.name=main
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: https://sonarcloud.io

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Convert image name to lowercase
        id: IMAGE_NAME
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{env.FRONTEND_IMAGE_NAME}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ steps.IMAGE_NAME.outputs.lowercase }}:${{github.ref_name}}
            ${{ env.REGISTRY }}/${{ steps.IMAGE_NAME.outputs.lowercase }}:latest

  deploy-frontend-and-backend:
    name: Deploy Frontend and Backend
    needs: [build-test-and-scan-backend, build-test-and-scan-frontend]
    runs-on: self-hosted

    steps:
      - name: Deploy Backend to MicroK8s
        run: |
          # Use the kubectl provided by MicroK8s
          microk8s.kubectl set image deployment/beer-academy-backend-deployment beer-academy-backend-container=${{ env.REGISTRY }}/${{ steps.IMAGE_NAME.outputs.lowercase }}:${{github.ref_name}} -n ${{env.NAMESPACE}}
          microk8s.kubectl rollout status deployment/beer-academy-backend-deployment -n beer-academy

      - name: Deploy Frontend to MicroK8s
        run: |
          # Use the kubectl provided by MicroK8s
          microk8s.kubectl set image deployment/beer-academy-frontend-deployment beer-academy-frontend-container=${{ env.REGISTRY }}/${{ steps.IMAGE_NAME.outputs.lowercase }}:${{github.ref_name}} -n ${{env.NAMESPACE}}
          microk8s.kubectl rollout status deployment/beer-academy-frontend-deployment -n beer-academy

