name: Build and Deploy to Microk8s

on:
  push:
    tags:
      - 'v*.*.*'

env:
  REGISTRY: ghcr.io
  FRONTEND_IMAGE_NAME: ${{ github.actor }}/beer-academy-frontend
  BACKEND_IMAGE_NAME: ${{ github.actor }}/beer-academy-backend
  NAMESPACE: beer-academy
  VERSION: ${{ github.ref_name }}

jobs:
  build-backend:
    runs-on: self-hosted

    steps:
      - name: Log environment variables
        run: |
          echo "User: ${{ env.USER }}"
          echo "Registry: ${{ env.REGISTRY }}"
          echo "Frontend Image Name: ${{ env.FRONTEND_IMAGE_NAME }}"
          echo "Backend Image Name: ${{ env.BACKEND_IMAGE_NAME }}"
          echo "Semantic Version: ${{ env.VERSION }}"


      - name: Checkout repository
        uses: actions/checkout@v4
#
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Convert image name to lowercase
        id: IMAGE_NAME
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{env.BACKEND_IMAGE_NAME}}

      - name: Build and push Docker image
        if: true
        uses: docker/build-push-action@v6
        with:
          context: ./backend/src/main/docker
          push: true
          tags: | 
            ${{ env.REGISTRY }}/${{ steps.IMAGE_NAME.outputs.lowercase }}:${{github.ref_name}}
            ${{ env.REGISTRY }}/${{ steps.IMAGE_NAME.outputs.lowercase }}:latest
#
      - name: Deploy to Microk8s
        if: true
        run: |
          # Use the kubectl provided by MicroK8s
          microk8s.kubectl set image deployment/beer-academy-backend-deployment beer-academy-backend-container=${{ env.REGISTRY }}/${{ steps.IMAGE_NAME.outputs.lowercase }}:${{github.ref_name}} -n ${{env.NAMESPACE}}
          microk8s.kubectl rollout status deployment/beer-academy-backend-deployment -n beer-academy


  build-frontend:
    runs-on: self-hosted

    steps:
      - name: Log environment variables
        run: |
          echo "User: ${{ env.USER }}"
          echo "Registry: ${{ env.REGISTRY }}"
          echo "Frontend Image Name: ${{ env.FRONTEND_IMAGE_NAME }}"
          echo "Backend Image Name: ${{ env.BACKEND_IMAGE_NAME }}"
          echo "Semantic Version: ${{ env.VERSION }}"


      - name: Checkout repository
        uses: actions/checkout@v4
#
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Convert image name to lowercase
        id: IMAGE_NAME
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{env.FRONTEND_IMAGE_NAME}}

      - name: Build and push Docker image
        if: true
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          push: true
          tags: | 
            ${{ env.REGISTRY }}/${{ steps.IMAGE_NAME.outputs.lowercase }}:${{github.ref_name}}
            ${{ env.REGISTRY }}/${{ steps.IMAGE_NAME.outputs.lowercase }}:latest
#
      - name: Deploy to Microk8s
        if: true
        run: |
          # Use the kubectl provided by MicroK8s
          microk8s.kubectl set image deployment/beer-academy-frontend-deployment beer-academy-frontend-container=${{ env.REGISTRY }}/${{ steps.IMAGE_NAME.outputs.lowercase }}:${{github.ref_name}} -n ${{env.NAMESPACE}}
          microk8s.kubectl rollout status deployment/beer-academy-frontend-deployment -n beer-academy

