name: Build and Deploy to Microk8s

on:
  push:
#    tags:
#      - 'v*.*.*'

env:
  USER: ${{ github.actor }}
  REGISTRY: ghcr.io
  FRONTEND_IMAGE_NAME: ${{ github.actor }}/beer-academy-frontend
  BACKEND_IMAGE_NAME: ${{ github.actor }}/beer-academy-backend
  VERSION: ${{ github.ref_name }}

jobs:
  build-frontend:
    runs-on: self-hosted

    steps:
      - name: Log
        run: |
          echo "User: ${{ env.USER }}"
          echo "Registry: ${{ env.REGISTRY }}"
          echo "Frontend Image Name: ${{ env.FRONTEND_IMAGE_NAME }}"
          echo "Backend Image Name: ${{ env.BACKEND_IMAGE_NAME }}"
          echo "Semantic Version: ${{ env.VERSION }}"

#      - name: Checkout repository
#        uses: actions/checkout@v4
#
#      - name: Log in to the Container registry
#        uses: docker/login-action@v3
#        with:
#          registry: ${{ env.REGISTRY }}
#          username: ${{ secrets.GHCR_USERNAME }}
#          password: ${{ secrets.GHCR_TOKEN }}
#
#      - name: Convert image name to lowercase
#        id: IMAGE_NAME
#        uses: ASzc/change-string-case-action@v6
#        with:
#          string: ${{env.IMAGE_NAME}}
#
#      - name: Build and push Docker image
#        if: true
#        uses: docker/build-push-action@v6
#        with:
#          context: .
#          push: true
#          tags: ${{ env.REGISTRY }}/${{ steps.IMAGE_NAME.outputs.lowercase }}:${{github.ref_name}}
#
#      - name: Deploy to Microk8s
#        if: true
#        run: |
#          # Use the kubectl provided by MicroK8s
#          microk8s.kubectl set image deployment/online-cv-deployment online-cv-container=${{ env.REGISTRY }}/${{ steps.IMAGE_NAME.outputs.lowercase }}:${{github.ref_name}} -n online-cv
#          microk8s.kubectl rollout status deployment/online-cv-deployment -n online-cv
