:host{
  display: grid;
  grid-template-rows: 50px auto 50px;
  gap: 5px;

  border: 1px solid var(--color-silver);
  border-radius: 10px;
  padding: 10px;

  background-color: white;
}

#header{
  display: flex;
  align-items: center;
  gap: 5px;
}

#center{
  display: flex;
  gap: 10px;
}

#bottom{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.beer-rack{
  display: flex;
  gap: 5px;
}

.player-stats{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.player-stats > div:nth-child(2){
  display: flex;
  gap: 10px;
}

h1,h3{
  padding: 0;
  margin: 0;
}


.upper_subtitle{
  font-size: 14px;
}

.beer{
  width: 10px;
}

.beer-indicator{
  height: 100%;
  width: 30px;
  background-color: #3e160a;
}

.dot{
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: rebeccapurple;
}


