:host{
  display: grid;
  grid-template-rows: 50px auto 50px;
  gap: 5px;

  border: 1px solid var(--color-silver);
  border-radius: 10px;
  padding: 10px;

  background-color: white;
  user-select: none;
}

#header{
  display: flex;
  align-items: center;
  gap: 5px;
}

#center{
  display: flex;
  gap: 10px;
}

#bottom{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.beer-rack{
  display: flex;
  gap: 5px;
  overflow: hidden;
}

.player-stats{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.player-stats > div:nth-child(2){
  display: flex;
  gap: 10px;
}

h1,h3{
  padding: 0;
  margin: 0;
}


.upper_subtitle{
  font-size: 14px;
}

.consumed-beer-container{
  width: 10px;
  animation: beer-fly-in 0.75s cubic-bezier(0.38, 1.21, 0.22, 1.00) backwards;
}

@keyframes beer-fly-in {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.beer-indicator{
  height: 100%;
  width: 30px;
  background-color: #3e160a;
}

.dot{
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: rebeccapurple;
}


